$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$color-1: #6026D2;
$color-2: #18D8B7;
$color-3: #fc636b;
$color-5: #333333;

$Logo-main: "http://i.imgur.com/naTFrh2.png";
$Logo-highlight: "http://i.imgur.com/PxvTRoJ.png";

.app-render > .navbar-custom {
  background: rgba(255, 255, 255, 0.9);
}

.logo {
  max-width: 200px;
}

.btn-options-toggle, .btn-options-toggle:focus {
  margin-left: 10px;
  background-color: #ffffff;
  border: 2px solid $color-1;
  color: $color-1;
  outline: 0;
}

.btn-options-toggle:hover {
  color: $color-2;
  background-color: #ffffff;
  border: 2px solid $color-2;
}

.btn-actions-toggle, .btn-actions-toggle:focus {
  margin-left: 10px;
  background-color: #ffffff;
  border: 2px solid $color-3;
  color: $color-3;
  outline: 0;
}

.btn-actions-toggle:hover {
  color: #ffffff;
  background-color: $color-3;
  border: 2px solid $color-3;
}

.btn-custom, .btn-custom:focus {
  margin-left: 5px;
  background-color: $color-1;
  border: 2px solid $color-1;
  outline: 0;
}

.btn-custom:hover {
  background-color: $color-2;
  border: 2px solid $color-2;
}

.btn-login, .btn-login:focus {
  margin-left: 5px;
  border: 2px solid $color-1;
  background-color: #ffffff;
  color: $color-1;
  outline: 0;
}

.btn-login:hover {
  border: 2px solid $color-2;
  background-color: #ffffff;
  color: $color-2;
}

.btn-dropdown-login:hover > button {
  border: 2px solid $color-2;
  background-color: #ffffff;
  color: $color-2;
}

.action-popover {
  font-family: $font-bold;
};

.demo-dropdown {
  display: block;
}

.demo-list-patient:hover {
  background-color: #ffffff !important;
}

.demo-list-patient > a {
  border-left: 2px solid #ffffff;
}

.demo-list-patient:hover > a {
  color: $color-1 !important;
  border-left: 2px solid $color-1;
}

.options-menu {
  font-family: $font-bold;
  list-style: none;
  padding-left: 0;
  margin-top: 10px
}

.options-action > a {
  color: $color-5 !important;
  border-left: 2px solid #ffffff;
  margin-bottom: 10px;
  padding-left: 10px;
}

.options-action:hover > a {
  color: $color-3 !important;
  border-left: 2px solid $color-3;
  text-decoration: none;
  cursor: pointer;
}

.demo-list-patient:hover {
  background-color: #ffffff !important;
}

.demo-list-doctor > a {
  border-left: 2px solid #ffffff;
}

.demo-list-doctor:hover > a {
  color: $color-2 !important;
  border-left: 2px solid $color-2;
}

.nav-block {
  float: left;
  width: 200px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url("http://i.imgur.com/naTFrh2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-block:hover {
  background-image: url("http://i.imgur.com/PxvTRoJ.png");
  cursor: pointer;
}

.nav-button {
  float: right;
  font-family: $font-bold;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 10px;
  margin-left: 5px;
}

.navbar-custom {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  border-radius: 0;
  box-shadow: 1px 1px 2px #888888;
  z-index: 2;
}

.welcome-message {
  font-family: $font-bold;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: right;
  display: inline-block;
  max-width: 250px;
}
