$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$color-1: #6026D2; //deep purple
$color-2: #18D8B7; //teal
$color-3: #fc636b; //orange
$color-4: #eeeeee; //light-gray

.content-view {
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar {
  background-color: #1B2432;
  margin-top: 58px;
  margin-left: 0;
  padding: 0;
  position: fixed;
  width: 25%;
  max-width: 250px;
  height: 100%;
  min-height: 500px;
}

.sidebar-content {
  width: 100%;
  margin: 10px 10px 10px 0;
  padding-left: 0;
  position: relative;
  top: 5px;
}

.collapse-container {
  color: #ffffff;
  font-size: 18px;
  text-align: right;
  padding: 0 0 30px 0;
}

.collapse-icon {
  padding: 0;
}

.collapse-icon:hover {
  cursor: pointer;
}

@keyframes collapse {
    from {width: 25%;}
    to {width: 0%;}
}

@keyframes collapse_out {
    from {width: 0%;}
    to {width: 25%;}
}

.collapse-in {
  animation-name: collapse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.collapse-out {
  animation-name: collapse_out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dashboard {
  padding-top: 75px;
  margin-right: 0;
  height: 100%;
  width: 100%;
  background: $color-4;
  overflow: auto;
}

.tab-expand {
  animation-name: expand_tabs;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.tab-collapse {
  animation-name: collapse_tabs;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes expand_tabs {
  from {margin-left: 28%;}
  to {margin-left: 20%;}
}

@keyframes collapse_tabs {
  from {margin-left: 20%;}
  to {margin-left: 28%;}
}

.sidebar-actions {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
}

.sidebar-btn, .sidebar-btn:focus {
  position: relative;
  width: 90%;
  min-width: 165px;
  margin-bottom: 15px;
  background-color: #1B2432;
  border: 2px solid #ffffff;
  color: #ffffff;
  outline: 0;
  font-family: $font-bold;
}

.sidebar-btn:hover {
  background-color: #1B2432;
  border: 4px solid #ffffff;
  color: #ffffff;
}

.sidebar-link {
  float: left;
  position: relative;
  bottom: 10%;
  left: 39%;
  color: #ffffff;
  font-family: $font-bold;
}

.sidebar-link:hover {
  color: #ffffff;
}
