$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$color-1: #6026D2; //deep purple
$color-2: #18D8B7; //teal
$color-3: #fc636b; //orange
$color-4: #eeeeee; //light-gray
$color-5: #333333; //dark-gray for fonts

.patients-navbar {
  border: 0;
  border-radius: 0;
  font-family: $font-bold;
  color: $color-5;
  background-color: #ffffff;
}

a.navbar-brand {
  color: $color-2 !important;
}

.navbar-nav > li.active > a {
  background-color: #ffffff !important;
  color: $color-2 !important;
  border-bottom: 2px solid $color-2;
}

.navbar-nav > li > a:hover {
  color: $color-3 !important;
  border: 0;
}

.no-content {
  border: 2px solid $color-4;
  color: $color-5;
  font-family: $font-primary;
  background-color: #ffffff;
}

.dropdown-menu > li > a {
  font-family: $font-primary;
  color: $color-5;
  border-left: 2px solid #ffffff;
}

.dropdown-menu > li > a:hover {
  background-color: #ffffff;
  color: $color-2;
  border-left: 2px solid $color-2;
}

input.form-control {
  font-family: $font-primary;
}
