$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$color-1: #6026D2; //deep purple
$color-2: #18D8B7; //teal
$color-3: #fc636b; //orange
$color-4: #eeeeee; //light-gray
$color-5: #333333; //dark-gray for fonts

.chart-container {
  width: 100%;
}

.line {
  fill: none;
  stroke-width: 4px;
}

.shadow {
  -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
  filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.pad {
  padding:20px;
}

.bottom-right-svg{
  text-align: center;
}

.y-grid .tick{
  stroke: $color-4;
  opacity: 1;
}

.axis {
  fill: $color-5;
  opacity: 1;
}

.axis path, .axis line {
  // fill: none;
  // stroke: none;
  stroke-width: 1px;
}

.axis text {
  font-size: 13px;
  color: black;
}

.chart-title {
  margin: 14px 20px 5px 20px;
}

.navbar-chart {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $color-5;
  font-family: $font-bold;
  color: $color-5;
}

.navbar-color-1 {
  border-bottom: 2px solid $color-1;
  color: $color-1
}

.navbar-color-2 {
  border-bottom: 2px solid $color-2;
  color: $color-2
}

.navbar-color-3 {
  border-bottom: 2px solid $color-3;
  color: $color-3
}

.meal-toggle-btn, .meal-toggle-btn.open {
  margin: 5px 20px 5px 30px;
  border: 0;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.meal-toggle-btn:hover {
  background-color: #ffffff;
}

.btn-color-1, .btn-color-1:focus {
  color: $color-1;
}

.btn-color-2, .btn-color-2:focus {
  color: $color-2;
}

.btn-color-3, .btn-color-3:focus {
  color: $color-3;
}

.dropdown-menu > li > a {
  margin-left: 5px;
}

.dropdown-menu > .active > a {
  background-color: #ffffff !important;
}

.dropdown-menu > .active.list-color-1 > a {
  color: $color-1 !important;
  border-left: 2px solid $color-1;
}

.dropdown-menu > .active.list-color-2 > a {
  color: $color-2 !important;
  border-left: 2px solid $color-2;
}

.dropdown-menu > .active.list-color-3 > a {
  color: $color-3 !important;
  border-left: 2px solid $color-3;
}
