$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$color-1: #6026D2;
$color-2: #18D8B7;
$color-3: #fc636b;

.splash-form {
  width: 100%;
  font-family: $font-primary;
}

.splash-form > h3 {
  font-family: $font-bold;
}


input.form-control {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none !important;
}

input.form-control:focus {
  border-bottom: 2px solid $color-1;
}

.btn-patient-form, .btn-patient-form:hover {
  float: left;
  margin-left: 10%;
  font-family: $font-bold;
  width: 39%;
  background-color: $color-1;
  color: #ffffff;
}

.btn-patient-form:hover {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
  -moz-box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
  box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
}

.btn-patient-form:focus {
  outline: 0;
  color: #ffffff;
}

.btn-doctor-form, .btn-doctor-form:hover {
  float:right;
  margin-right: 10%;
  font-family: $font-bold;
  width: 39%;
  background-color: $color-2;
  color: #ffffff;
}

.btn-doctor-form:hover {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(24,216,183,0.61);
  -moz-box-shadow: 0px 0px 5px 5px rgba(24,216,183,0.61);
  box-shadow: 0px 0px 5px 5px rgba(24,216,183,0.61);
}

.btn-doctor-form:focus {
  outline: 0;
  color: #ffffff;
}

.btn-login-form {
  float: left;
  margin-left: 15px;
  font-family: $font-bold;
  width: 39%;
  background-color: $color-1;
  color: #ffffff;
}

.btn-login-form:hover {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
  -moz-box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
  box-shadow: 0px 0px 5px 5px rgba(96,38,210,0.61);
  color: #ffffff;
}

.btn-login-form:focus {
  outline: 0;
  color: #ffffff;
}

.login-alt-options {
  margin: 15px 0px 0px 15px;
}

.login-alt-options > a {
  display: block;
}

.error-box {
  color: $color-3;
}
