// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-bold: Montserrat, sans-serif;
$font-primary: Khula, sans-serif;

$btn-color-primary: #6026D2;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Montserrat|Khula:400,600";
@import "nav_bar/nav_bar.scss";
@import "splash/splash_detail.scss";
@import "splash/splash_main.scss";
@import "forms/auth_form.scss";
@import "dashboard/dashboard.scss";
@import "dashboard/tabs.scss";
@import "dashboard/logs/logs_index.scss";
@import "dashboard/logs/logs_detail.scss";
@import "dashboard/logs/logs_form.scss";
@import "dashboard/progress/progress_chart.scss";


// general app styles
.app-body {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

html {
  height: 100%;
}

.body {
  height: 100%;
}

#root {
  height: 100%;
}

.width-fix {
  width: 100%;
}



//Doctor

//doctor patient-search
.search-section {
  position: relative;
  width: 100%;
}

.patient-hits {
  display: block;
  width: 100%;
}

.patient-search-bar {
  // max-width: 500px;
}

//doctor patient detail

.patient-detail-container {
  width: 100%;
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

.patient-detail-tab:hover {
  cursor: pointer;
}

//conversations

.conversation-section {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.conversation-thread {
  list-style: none;
}

.conversation-list {
  padding-left: 0;
}

.thumbnail > .conversation-box {
  padding-top: 0;
  padding-bottom: 0;
}

.conversation-header {
  padding-left: 15px;
  padding-right: 15px;
}

.conversation-subject {
  display: inline-block;
}

.conversation-show-btn {
  float: right;
  margin-right: 5px;
}

.thread-container {
  width: 100%;
  padding: inherit;
}

.time-tag {
  display: inline-block;
}

.location-tag {
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.reply-form {
  margin-bottom: 15px;
}

.form-search {
  position: relative;
}

.form-hits {
  top: 35px;
}
