// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// general app styles
.app-body {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

html {
  height: 100%;
}

.body {
  height: 100%;
}

#root {
  height: 100%;
}

.width-fix {
  width: 100%;
}

// sign up form format

.splash-form {
  max-width: 500px;
}

.splash-detail {
  position: relative;
  top: 60px;
  height: 300px;
  overflow-x: hidden;
}

.splash-patient {
  position: relative;
}

.doctor-test {
  position: relative;
  left: 100%;
  width: 100%;
  height: 231px;
  padding-top: 4px;
  padding-left: auto;
  padding-right: auto;
  margin: 20px;
  margin-top: 0px;
}

.doctor-sub-test-1 {
  float: left;
  position: absolute;
  top: 0px;
  height: 224px;
  margin-right: 0;
  padding: 0 5px 0 5px;
  width: 31%;
}

.doctor-sub-test-2 {
  float: left;
  position: absolute;
  margin-left: auto;
  top: 0px;
  height: 224px;
  left: 33%;
  padding: 0 5px 0 5px;
  width: 31%;
}

.doctor-sub-test-3 {
  float: left;
  position: absolute;
  margin-left: auto;
  margin-right: 0;
  top: 0px;
  height: 224px;
  left: 66%;
  padding: 0 5px 0 5px;
  width: 31%;
}

.product-move-left {
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.product-move-right {
  animation-name: right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.patient-doctor-toggle {
  max-width: 500px;
  margin-bottom: 15px;
}

.about-icon {
  width: 100%;
  font-size: 40px;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.about-thumbnail {
  box-shadow: 1px 1px 2px #888888;
  height: 231px;
}

@keyframes left {
    from {left: 0px;}
    to {left: -103%;}
}

@keyframes right {
    from {right: 100%;}
    to {right: 0}
}

// navbar formats

.logo {
  max-width: 200px;
}

.btn-custom {
  margin-left: 5px;
}

.demo-dropdown {
  display: block;
}

.nav-block {
  float: left;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-button {
  float: right;
  padding-top: 7px;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-button {
  margin-left: 5px;
}

.navbar-custom {
  margin-bottom: 0;
  box-shadow: 1px 1px 2px #888888;
  z-index: 2;
}

.welcome-message {
  padding-top: 7px;
  text-align: right;
  display: inline-block;
  max-width: 250px;
}

// splash page formats

.splash-body {
  background-color: #fc636b;
  height: 400px;
  margin-top: 0;
}

.headline {
  color: #ffffff;
}

.blockout {
  display: block;
}

.blockout-space {
  height: 80px;
}

.blockout-small {
  height: 40px;
}

.splash-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 180px;
}

.start-landing {
  background-color: #a177ff;
  border-color: #a177ff;
}

.start-learn {
  background-color: #3396FB;
  border-color: #3396FB;
}

// Dashboard Layout
.content-view {
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar {
  background-color: #2e3c54;
  margin-left: 0;
  position: fixed;
  width: 25%;
  max-width: 250px;
  height: 100%;
  min-height: 500px;
}

.sidebar-content {
  width: 25%;
  margin: 10px;
  position: relative;
  top: 25px;
}

.dashboard {
  margin-right: 0;
  height: 100%;
  width: 100%;
  background: #cbe6ec;
  overflow: auto;
}

.tab-view {
  margin: 15px;
  margin-left: 28%;
  padding: 15px;
  height: 120%;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px #888888;
}

//Tabs

.tab-content {
  width: 100%;
  padding-top: 15px;
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

//Logs Index

.logs-list {
  padding-left: 0;
  padding-right: 0;
  width: inherit;
}

.logs-list-container {
  width: 100%;
}

.date-panel {
  width: inherit;
  box-shadow: 1px 1px 2px #888888;
}

//Logs Detail

.log-heading {
  padding-left: 15px;
  float: left;
}

.log-table-row:hover {
  background-color: #cbe6ec;
  font-weight: bold;
}

.panel-toggle {
  float: right;
  margin-right: 15px;
}

.panel-default > .log-heading-active {
  background-color: #cbe6ec;
  color: #2e3c54;
}

.panel-default > .log-body-inactive {
  display: none;
}

// log-form

.log-form-modal {
  width: 50%;
  max-width: 350px;
}

.log-btn-group {
  width: 100%;
}

.meal-btn {
  width: 33%;
}

.meal-taken-btn {
  width: 50%;
}

// progress chart

.chart-container {
  width: 100%;
}

.line {
  fill: none;
  stroke: #7dc7f4;
  stroke-width: 5px;
}

.shadow {
  -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
  filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.pad {
  padding:20px;
}

.bottom-right-svg{
  text-align: center;
}

.y-grid .tick{
  stroke: #4b5f87;
  opacity: 1;
}

.axis {
  fill: #565656;
  opacity: 1;
}

.axis path, .axis line {
  // fill: none;
  // stroke: none;
  stroke-width: 1px;
}

.axis text {
  font-size: 13px;
  color: black;
}

.chart-title {
  margin: 14px 20px 5px 20px;
}

.meal-toggle-btn {
  margin: 5px 20px 5px 30px;
}

//Doctor

//doctor patient-search
.search-section {
  position: relative;
  width: 100%;
}

.patient-hits {
  display: block;
  width: 100%;
}

.patient-search-bar {
  // max-width: 500px;
}

//doctor patient detail

.patient-detail-container {
  width: 100%;
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

.patient-detail-tab:hover {
  cursor: pointer;
}

//conversations

.conversation-section {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.conversation-thread {
  list-style: none;
}

.conversation-list {
  padding-left: 0;
}

.thumbnail > .conversation-box {
  padding-top: 0;
  padding-bottom: 0;
}

.conversation-header {
  padding-left: 15px;
  padding-right: 15px;
}

.conversation-subject {
  display: inline-block;
}

.conversation-show-btn {
  float: right;
}

.thread-container {
  width: 100%;
  padding: inherit;
}

.time-tag {
  display: inline-block;
}

.location-tag {
  display: inline-block;
  float: left;
  padding-right: 10px;
}
